.angular-date-picker {
    position: relative;
    outline: none;
}
.angular-date-picker:focus {
    border: none;
    outline: none;
}
.angular-date-picker > .buttons > button {
    position: absolute;
    background-color: #f6f6f6;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    cursor: pointer;
    line-height: 0px;
    padding: 0;
    text-align: center;
    height: 40px;
    top: 114px;
    width: 25px;
    vertical-align: middle;
    -webkit-transition: background .218s,border .218s,color .218s;
    -moz-transition: background .218s,border .218s,color .218s;
    -o-transition: background .218s,border .218s,color .218s;
    transition: background .218s,border .218s,color .218s;
    outline: none;
}
.angular-date-picker > .buttons > button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f5f5f5;
    border: 1px solid #c6c6c6;
}
.angular-date-picker > .buttons > button.previous {
    left: -23px;
}

.angular-date-picker > .buttons > button.next {
    right: -23px;
}

.angular-date-picker .double-picker {
    outline: none;
    border: none;
}

.angular-date-picker ._days ._day {
    float: left;
    width: 14.2857142857%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    color: #000;
}
.angular-date-picker ._days ._day-of-week {
    float: left;
    width: 14.2857142857%;
    text-align: center;
    color: #aaa;
    padding-top: 15px;
}
.angular-date-picker ._days ._day.-padding {
    color: #aaa;
}
.angular-date-picker ._days ._day.-selectable {
    cursor: pointer;
}
.angular-date-picker ._days ._day.-selectable.-selected {
    background: transparent;
    box-shadow: 0px 0px 0px 1px #e0e0e0;
}
.angular-date-picker ._days ._day.-selectable.-today {
    box-shadow: 0px 0px 0px 1px #e0e0e0;
    background-color: #f7f7f7;
}
.angular-date-picker ._days ._day.-selectable:hover {
    background: #eee;
}
.angular-date-picker ._days:after {
    content: '';
    display: block;
    clear: left;
    height: 0;
}
